body{
    background: #d1a670;
}
.container{
    width: 80%;
    height:80%;
    margin: 100px auto;
}
.image{
    margin: 10px auto;
    width: 550px;
    height: 550px;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    
}
button{
    width: 100%;
    display: block;
    background: brown;
    border: none;
    padding: 15px 20px ;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
}
@media (max-width:800px) {
    .container{
        width: 450px;
        height:450px;
        margin: 50px 50px;
    }
    .image{
        margin: 10px auto;
        width: 450px;
        height: 450px;
    }
    }
@media (max-width:520px) {
    .container{
        width: 380px;
        height:380px;
        margin: 50px 50px;
    }
    .image{
        margin: 10px auto;
        width:380px;
        height: 380px;
    }
}
@media (max-width:400px) {
    .container{
        width: 280px;
        height:280px;
        margin: 50px 50px;
    }
    .image{
        margin: 10px auto;
        width:280px;
        height: 280px;
    }
}